{:deps {io.github.nextjournal/clerk {:git/sha "afd948ae90140976ca77f83b791a2dbb159cc1f6"}}
 :aliases
 {:dev {:extra-paths ["notebooks" "dev"]
        :extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.3.925"}
                     com.github.seancorfield/honeysql {:mvn/version "2.6.1126"}
                     org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}
                     scicloj/tablecloth {:mvn/version "7.029.2"}}}}}
