{:deps {io.github.nextjournal/clerk {:git/sha "ea43dd9cf8951b3757dfc732ef68436447a4ed30"}}
 :aliases
 {:dev {:extra-paths ["notebooks" "dev"]
        :extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.3.925"}
                     com.github.seancorfield/honeysql {:mvn/version "2.6.1126"}
                     org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}
                     scicloj/tablecloth {:mvn/version "7.029.2"}
                     io.github.babashka/sci.nrepl {:git/sha "630062b76a4a9ca7d2565fd494d7baaf3460554b"}}
        :jvm-opts ["-Dclerk.render_repl={}"]}}}
