{:deps {io.github.nextjournal/clerk {:git/sha "58c7b75c91585b9947f323b753e07cecdeec2a30"}}
 :aliases
 {:dev {:extra-paths ["notebooks"]
        :extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.3.925"}
                     com.github.seancorfield/honeysql {:mvn/version "2.6.1126"}
                     org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}}}}}
